<!-- <menu></menu>
<h1>Monitor Students</h1>
<section><!--repeat by goal-->
  <!-- <h2>goalname</h2> -->
  <!-- <table> -->
    <!-- <tr> -->
      <!-- <th>Student</th> -->
      <!-- <th>Steps</th> -->
    <!-- </tr> -->
    <!-- <tr><!-- ngrepeat student-->
      <!-- <td>
        <h3>studentname<h3>
        <button>Remove Assignment</button>
      </td>
      <td>step</td><!--ngrepeat stepProgress -->
    <!-- </tr>
  </table>
  <button ui-sref="editGoals">Edit Goal</button>
  <button>Remove This Assignment</button>
</section> --> 
