<menu></menu>
<section class="inputPage">
  <h1>Edit and Review {{goal.name}}</h1>
  <h4>End Goal: {{goal.endgoal}}</h4>
  <h4>Message: {{goal.message}}</h4>
  <h2>Students to Assign</h2>
      <div class="holder" ><!--ng repeat students by goal-->
        <div ng-repeat="member in members track by $index">
          <h3>{{member.username}}</h3>
          <button ng-click="removeStudent(member.id, $index)">Remove Student</button>
       </div>
        <button ng-click="revealer()">Add Students</button>
        <div ng-show="hide">
          <label class="label"  ng-repeat="student in students" >
            <input type="checkbox" id="checkbox" name="box" value="group.id" ng-click="idCheck(student.id)">
            <h4>{{student.username}}</h4>
          </label>
          <button ng-click="addStudentsToGoal()">Add Selected</button>
        </div>
    </div>
  <h2>Instructions</h2>
    <div class="holder" ng-repeat="st in steps track by $index">
      <h3>{{st.stepnumber}}</h3>
      <h4>{{st.instruction}}</h4>
      <button ng-click="removeStep(st.stepnumber, $index)">Remove Step</button>
    </div>

  <form name="stepForm">
        <input type="number" placeholder="number" ng-model="step.number"><td>
        <input type="text" placeholder="Type instruction for this step" ng-model="step.instruction"><td>
        <button ng-click="makeStep(step)">Add Step</button>
  </form>
  <button ng-click="assign()">Assign to Students</button>
  <button ui-sref="monitoring({id: id})">Monitor Students</button>
</section>
