<menu></menu>
<section class="inputPage">

<h1>{{group[0].name}}</h1>
<h2>Students in this group</h2>
<!-- <div class=" studentWrapper"> -->
  <div class="studentName" ng-repeat="member in members">
    <h4>{{member.username}}</h4>
    <button>Remove</button>
  </div>

<h2>My Students</h2>
  <form>
      <label class="label"  ng-repeat="student in students">
        <input type="checkbox" id="checkbox" name="box" value="group.id" ng-click="idCheck(student.id)">
        <h4>{{student.username}}</h4>
      </label>
      <button ng-click="assignStudentGroup()">Submit</button>
  </form>
<section>
