<menu></menu>
<section class="inputPage">
  <img class="backarrow" src="./images/arrow-88-48.png" ui-sref="addStudents">
  <h1>Group Name: {{group[0].name}}</h1>
  <h2>Students in this group</h2>
  <div class="studentName" ng-repeat="member in members">
    <h3 class="memberName">{{member.username}}</h3>
    <button class="groupEditButton" ng-click="removeFromGroup(member.studentid)">Remove</button>
  </div>
  <form>
    <h2>My Students</h2>
      <label class="label"  ng-repeat="student in students">
        <input type="checkbox" id="checkbox" name="box" value="group.id" ng-click="idCheck(student.id)">
        <h4>{{student.username}}</h4>
      </label>
      <button ng-click="assignToGroup()">Add Students</button>
  </form>
<section>
