<header class="mainHeader">
  <div class="menuHead">
    <a ui-sref="teacherHome"><h3>Home</h3></a>
    <a ui-sref="createGoals"><h3>Create A Goal</h3></a>
    <a ui-sref="addStudents"><h3>Students and Groups</h3></a>
    <a ui-sref="savedGoals"><h3>My Goals</h3></a>
  </div>
  <img ng-click="revealer()" class="menuIcon" src="./images/list-view-48.png" alt="menu">
  <div class="menuBox" ng-show="hide">
    <a ui-sref="teacherHome"><h3>Home</h3></a>
    <a ui-sref="createGoals"><h3>Create A Goal</h3></a>
    <a ui-sref="addStudents"><h3>Students and Groups</h3></a>
    <a ui-sref="savedGoals"><h3>My Goals</h3></a>
  </div>
</header>
