<menu></menu>
<section class="inputPage">
  <h1>Monitor Students</h1>
  <div class="goalWrapper"><!--repeat by goal-->
      <h2>goalname</h2>
      <div class="student-box"><!--ng-repeat by student-->
        <h4>studetname</h5>
        <div>stepstatus</div><!--repeat and style by progress-->
        <button>Remove Student</button>
      </div>
      <div class="monitorbuttons">
          <button ui-sref="editGoals">Edit Goal</button>
          <button>Remove this goal from assignment</button>
      </div>
  </div>
</section>
