<menu></menu>
<section class="inputPage">
  <h1>Monitor Students</h1>
  <div class="goalWrapper" ng-repeat="goal in goals">
      <h2 >{{goal.name}}</h2>
      <div class="student-box" ng-repeat="student in students" ng-if="student.goalId === goal.id">
        <h4>{{student.name}}</h5>
        <div class="status" ng-repeat="step in student.steps">{{step.status}}</div>
        <button>Remove Student</button>
      </div>
      <div class="monitorbuttons">
          <button ng-click=getStudents(goal.id)>Get Students</button>
          <button ui-sref="editGoals">Edit Goal</button>
          <button>Remove this goal from assignment</button>
      </div>
  </div>
</section>
