
<section class="progressPage">
  <a ui-sref="studentHome"><img class="house" src="./images/house-48.png" alt="home" /></a>
  <h1 class="goalTitle">{{goal.name}}</h1>
  <h2 class="subtitle">{{goal.endgoal}}</h2>
  <div class="stepContainer">
    <div ng-repeat="step in steps">
      <button class="step" id="{{step.status}}" ng-click="revealer()">
        <h3 class="stepText" >{{step.stepnumber}}<h3>
      </button>
      <div class="instructionBox" ng-show="hide">
        <h5 class="close" ng-click="revealer()">Close X</h5>
        <h5 class="stepNum">{{step.stepnumber}}</h5>
        <p>{{step.instruction}}</p>
        <button class="help" ng-click="changeStatusHelp(step.stepnumber)">I Need Help</button>
        <button ng-click="changeStatusDone(step.stepnumber)">Done</button>
        <button class="work" ng-click="changeStatusWorking(step.stepnumber)">I am working on it.</button>
      </div>
    </div>
  </div>
</section>
