<header>
  <button ui-sref="teacherLogin">Teacher Log In</button>
</header>
<div class="mainPage">
  <h1>Welcome to Tracker<h1>
  <h2>Student Login<h2>
  <h4>Please Enter Your Information<h4>
  <form>
    <input  type="text"  placeholder="Class Code" ng-model="student.classcode">
    <br/>
    <input  type="text"  placeholder="User Name" ng-model="student.username">
    <br />
    <input  type="password"  placeholder="Password" ng-model="student.password">
    <br />
    <button ng-click="getStudent(student)">Go!</button>
  </form>
</div>
