<header>
  <button ui-sref="studentLogin">Student Log In</button>
</header>
<div class="mainPage">
  <h1>Welcome to Tracker<h1>
  <h2>Teacher Login<h2>
  <h2>{{user}}</h2>
  <form class="login">
    <h4>New Users Click <span ng-click="revealer()">Here</span><h4><!--hide/show-->
    <div ng-show="hide">
      <input  type="text"  placeholder="First Name" ng-model='message.firstname'>
      <br />
      <input  type="text"  placeholder="Last Name" ng-model='message.lastname'>
      <br />
      <input  type="text"  placeholder="Email"  ng-model='message.email'>
      <br />
      <input  type="password"  placeholder="Password" ng-model="message.password">
      <br />
      <button ng-click="$watch(makeUser(message), revealer())">Create User</button>

    </div>
    <input  type="text"  placeholder="Email" ng-model="email">
    <br />
    <input  type="password"  placeholder="Password" ng-model="password">
    <br />
  </br>
    <button ng-click="loginLocal(email, password)">Login</button>
  </form>
</div>
