.progressPage {
  background-image: url("../../images/Background-4.png");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.house {
  height: 25px;
  width: 25px;
  margin: 10px;
}
.goalTitle {
  font-size: 3rem;
  position: absolute;
  top: 3vh;
  left: 25vw;
}
.stepContainer {
  position:relative;
  top: 8vh;
  left:5%;
  display: flex;
  flex-wrap: wrap;
  width: 90%;
}
.step {
  background: #6a2876;
  border-radius: 100%;
  border: solid 2px #333333;
  height: 40px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.stepText {
  color: #ffffd5;
}
.instructionBox {
  background: #ffffd5;
  border-radius: 15px;
  height: 200px;
  width: 300px;
  position: fixed;
  top: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.stepNum {
  color: #e00084;
  position: relative;
  top: -15%;
  left:-40%;
}
.close{
  position: relative;
  top: -8%;
  left:40%;
}
.help{
  background: #ffc72b;
}
