.progressPage {
  background-image: url("../../images/Background-4.png");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.house {
  height: 25px;
  width: 25px;
  margin: 10px;
}
.goalTitle {
  font-size: 3rem;
  position: absolute;
  top: 3vh;
  left: 25vw;
}
.subtitle {
  position: relative;
  top: 4vh;
  left: 32vw;
}

.stepContainer {
  position:relative;
  top: 8vh;
  left:5%;
  display: flex;
  flex-wrap: wrap;
  width: 90%;
}
.step {
  background: #6a2876;
  border-radius: 100%;
  border: solid 2px #333333;
  height: 50px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}
.stepText {
  color: #ffffd5;
}
.instructionBox {
  background: #ffffd5;
  border-radius: 15px;
  height: 40vh;
  width: 80vw;
  position: fixed;
  top: 20vh;
  left: 10vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.stepNum {
  color: #e00084;
  position: relative;
  left:-40%;
}
.close{
  position: relative;
  top: 3vh;
  left: 40%
}
.help{
  background: #ffc72b;
}
.work{
  background: #6a2876;
}

#done {
  background: #11d240;
}
#needhelp {
  background: #ffc72b;
}
