<menu></menu>
<section class="inputPage">
  <h1>My Students</h1>
  <div><!--ng repeat all students-->
    <h4>student name</h4>
  <div>
  <button ng-click="addStudentRevealer()">Add Students</button> <!--show form-->
  <form class="add-form" ng-show ="hide">
    <h3>How many students would you like to add?</h3>
    <div class="numberInput">
      <input  class="numberBox" type="number" ng-model="numInput">
      <button ng-click="makeInput()">Go</button>
    </div>
    <div class="labels">
      <h3>UserName</h3>
      <h3>Password</h3>
    </div>
    <div class="studentInputBox" ng-repeat="number in numbers">
      <input class="studentInput" type="text"  placeholder="UserName">
      <input class="studentInput" type="password"  placeholder="Password">
    </div>
    <button ng-click="studentMessage()">Submit</button>

  <h1>Create Group<h1>
  <form class="add-form">
    <input  type="text"  placeholder="Group Name">

    <button ng-click="groupMessage()">Submit</button>
  </form>

  <h1>Add/remove students from groups<h1>
  <div class="groupBox"><!--  ng repete groups -->
    <h3>{{group.name}}group name</h3>
    <button class="groupEditButton">Remove Group</button>
    <button class="groupEditButton" ng-click="groupRevealer()">Add/Remove Students</button>
      <div class="groupsStudentsBox" ng-show="see">
        <h3>{{group.name}}group name</h3>
        <label class="studentLabel"> <!--show when add button clicked ng repeat students-->
          <input type="checkbox">
          <h4>{{student.name}}name</h4>
        </label>
        <button>Submit</button>
      </div>
  </div>

  <h1>Change Class Code<h1>
    <form class="add-form">
      <input type="text" placeholder="Class Code">
      <button ng-click="codeMessage()">Submit</button>
    </form>
</section>
