<header>
  <button ui-sref="studentLogin">Student Log In</button>
</header>
<div class="mainPage">

  <h1>Welcome to Tracker<h1>
  <h2>Teacher Login<h2>
  <form class="add-form">
    <h4>New Users Click <span ng-click="revealer()">Here</span><h4><!--hide/show-->
    <div ng-show="hide"><!--show on click-->
      <input  type="text"  placeholder="First Name">
      <br />
      <input  type="text"  placeholder="Last Name">
      <br />
    </div>
    <input  type="text"  placeholder="Email">
    <br />
    <input  type="password"  placeholder="Password">
    <br />
  </br>
    <button>Login</button>
  </form>
</div>
